# print numpy shape
snippet pns
print("np.shape(${VISUAL}$1)", np.shape(${VISUAL}$1))
endsnippet

# print with label
snippet pv
print("${VISUAL}$1 =>", ${VISUAL}$1)
endsnippet


# add breakpoint
snippet br
import ipdb; ipdb.set_trace()
endsnippet
